MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress_user
MYSQL_PASSWORD=wordpress_password   # Change this!
MYSQL_ROOT_PASSWORD=root_password
S3_FILE_URL=https://mzlbvomuniumljbdwdss.supabase.co/storage/v1/object/public/wordpress-uploads
AWS_ACCESS_KEY_ID=a304134d70d78e8c063c44f02566f237
AWS_SECRET_ACCESS_KEY=a9cd91b1235a60d0f1c088555e7c4665ef38e0e59c14986f45e05e1575e3f0ac
AWS_REGION=ap-south-1
AWS_ENDPOINT_URL=https://mzlbvomuniumljbdwdss.storage.supabase.co/storage/v1/s3
# AWS_ENDPOINT_URL=http://host.docker.internal:4566 # Optional for standard AWS S3
S3_IMAGE_BUCKET=wordpress-uploads
S3_BACKUP_BUCKET=wordpress-backups
S3_PATH_PREFIX=backups/my-site
BACKUP_INTERVAL=5